@font-face {
  font-family: 'SsallakNun';
  font-weight: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
    format('woff');
  font-display: swap;
}

.cover {
  display: flex;
  width: 100vw;
}

.cover:nth-child(2) {
  justify-content: flex-end;
  font-family: SsallakNun;
  // margin-top: 5vh;
  font-size: 28px;
  color: #214a73;
  // background-color: rgb(3, 255, 242);
  // transform: rotate(2deg);
}
