*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  word-break: keep-all;
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
canvas,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "SsallakNun";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff") format("woff");
  font-display: swap;
}
.cover {
  display: flex;
  width: 100vw;
}

.cover:nth-child(2) {
  justify-content: flex-end;
  font-family: SsallakNun;
  font-size: 1.75rem;
  color: #214a73;
}

@media screen and (max-width: 46.25rem) {
  .cover:nth-child(2) {
    font-size: 1.25rem;
  }
}
body {
  padding-bottom: 4.375rem;
  background: #000103;
  background: linear-gradient(90deg, rgb(0, 1, 3) 0%, rgb(1, 6, 20) 50%, rgb(0, 1, 3) 100%);
}

.margin-in {
  margin-inline: auto;
}

.regular {
  font-weight: 400;
}

.fontF {
  font-family: Aldrich;
}

.section {
  gap: 1rem;
  padding: 0px 10em 0px 10em;
}

.flex {
  display: flex;
}

.c-gap {
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}

.r-gap {
  row-gap: 1rem;
}

.gap {
  gap: 2rem;
}

.nevigation .C,
.nevigation .F {
  align-self: center;
  font-size: 18px;
  color: rgba(188, 208, 231, 0.3764705882);
}
.nevigation .logo {
  align-self: center;
  min-width: 35px;
  height: 27.4704px;
  margin-inline: auto;
}

.padding-1 {
  padding: 2.5rem 0rem 2.5rem 0rem;
}

.padding-2 {
  padding: 10rem 0rem 10rem 0rem;
}

.border-bottom {
  border-bottom: solid 1px;
  -o-border-image: linear-gradient(90deg, rgb(0, 1, 3) 0%, rgb(188, 208, 231) 50%, rgb(0, 1, 3) 100%);
     border-image: linear-gradient(90deg, rgb(0, 1, 3) 0%, rgb(188, 208, 231) 50%, rgb(0, 1, 3) 100%);
  border-image-slice: 1;
}

.h1-text {
  padding-bottom: 1.5rem;
  font-size: 3.75rem;
  line-height: 3.75rem;
  color: #bcd0e7;
  text-align: center;
}

.h3-text {
  font-size: 28px;
  line-height: 28px;
  color: rgba(188, 208, 231, 0.5019607843);
  text-align: center;
}

.set3 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 50px 0px 50px 0px;
}

.h4-text {
  font-size: 24px;
  font-weight: 400;
  color: rgba(188, 208, 231, 0.5019607843);
  text-align: center;
}

.koH4-text {
  font-size: 20px;
  font-weight: 400;
  color: rgba(188, 208, 231, 0.5019607843);
  text-align: center;
}

@media screen and (max-width: 62.5rem) {
  .h1-text {
    padding-bottom: 1.2rem;
    font-size: 45px;
    line-height: 45px;
  }
  .h3-text {
    font-size: 20px;
    line-height: 20px;
  }
  .h4-text {
    font-size: 21px;
  }
  .koH4-text {
    font-size: 17.5px;
  }
}
@media screen and (max-width: 46.25rem) {
  .h1-text {
    padding-bottom: 0.8rem;
    font-size: 1.5625rem;
    line-height: 1.5625rem;
  }
  .h3-text {
    font-size: 17px;
    line-height: 1.5em;
  }
  .h4-text {
    font-size: 17px;
  }
  .koH4-text {
    font-size: 15px;
  }
}