@use './reset';

// BG
// color 17 - 000103
// color 16 - 01060F
// color 15 - 051525

body {
  padding: 0px 200px 70px 200px;
  // 배경 그라데이션 색 좀 올림 5정도
  background: #000103;
  background: linear-gradient(
    90deg,
    rgba(0, 1, 3, 1) 0%,
    rgba(1, 6, 20, 1) 50%,
    rgba(0, 1, 3, 1) 100%
  );
}

// 전역 class
.section {
  gap: 2rem;
}

.flex {
  display: flex;
}

.gap {
  column-gap: 15px;
}

// 지역 class
// section-1 nevigation
.nevigation {
  // .p {
  //   padding: 0px 10rem 0px 10rem;
  // }
  
  .C,
  .F {
    align-self: center;

    font-family: Aldrich;
    font-size: 1.125rem;
    color: #bcd0e760;
  }

  .logo {
    align-self: center;
    min-width: 2.1875rem;
    height: 1.7169rem;
    margin-inline: auto;
  }
}

.padding-1 {
  padding: 40px 0px 40px 0px;
}

// section-2 COPPER VS FIBER
.padding-2 {
  padding: 160px 0px 160px 0px;
}
