.wrapper {
  position: relative;
  box-sizing: border-box;
  max-inline-size: min(
    100%,
    var(--wrapper-max-width, var(--max-viewport-width, 90rem))
  );
  padding-inline: var(--gutter, 0);
  margin-inline: auto;
}
