// @font-face {
//   font-family: 'SsallakNun';
//   font-weight: normal;
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
//     format('woff');
//   font-display: swap;
// }
p {
  display: flex;
  padding: 3rem 0;
  font-size: 2rem;
}

html,
body {
  width: 100%;
  height: 3000px;
  overflow-x: hidden;
  // font-size: 30px;
  // font-family: '', '';
  background-color: #000;
}

.cover {
  display: flex;
  width: 100vh;
  margin-bottom: 10rem;
}

.cover:nth-child(1) {
  margin-top: 5vh;
  background-color: lightseagreen;
  transform: rotate(-2deg);
}

.cover:nth-child(2) {
  justify-content: flex-end;
  margin-top: 5vh;
  background-color: rgb(3, 255, 242);
  transform: rotate(2deg);
}
