body {
  margin: 0;
  cursor: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

.hover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: lightcyan;
  border-radius: 1rem;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  background: #c62323;
  border-radius: 50%;
  mix-blend-mode: difference;
  opacity: 0;
  transition: transform 0.5s;
}

#custom-cursor.zoom {
  transform: scale(4);
}

body:hover #custom-cursor {
  opacity: 1;
  transition: opacity 0.3s ease;
}

#custom-cursor:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  content: "";
  background-color: #0033ab;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}