@use './reset';

@use './scoll';
@use './cursor';

.section {
  // gap 이렇게 주는거 맞나?
  padding: 3rem 1rem;
}

.center-1 {
  align-items: center;
  width: min(100%, 75rem);
  padding-inline: 2.5rem;
  margin-inline: auto;

  // background-color: #01060f;
}
