*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  word-break: keep-all;
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
canvas,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "SsallakNun";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Anurati";
  font-weight: normal;
  src: url("../../../../fonts/Anurati-Regular.woff") format("woff");
  font-display: swap;
}
p {
  display: flex;
  font-size: 2rem;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
}

.cover {
  display: flex;
  width: 100vw;
}

.cover:nth-child(1) {
  padding-top: 3rem;
  font-family: Anurati;
  color: #214a73;
  transform: rotate(-2deg);
}

.cover:nth-child(2) {
  justify-content: flex-end;
  font-family: SsallakNun;
  color: #214a73;
  transform: rotate(2deg);
}

body {
  margin: 0;
  cursor: none;
}

.hover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: lightcyan;
  border-radius: 1rem;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  background: #00a2ff;
  border-radius: 50%;
  mix-blend-mode: difference;
  opacity: 0;
  transform: scale(0.3);
  transition: transform 0.5s;
}

#custom-cursor.zoom {
  transform: scale(0.7);
}

body:hover #custom-cursor {
  opacity: 1;
  transition: opacity 0.6s ease-in-out 0.1s;
}

#custom-cursor:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  overflow: hidden;
  content: "";
  background: #00a2ff;
  box-shadow: 0 0 0 1em #00a2ff, 0 1em 0 1em #00a2ff, -2.5em 1.5em 0 0.5em #00a2ff, 2.5em 1.5em 0 0.5em #00a2ff, -3em -3em 0 0 #00a2ff, 3em -3em 0 0 #00a2ff, -2em -2em 0 0 #00a2ff, 2em -2em 0 0 #00a2ff, -3em -1em 0 0 #00a2ff, -2em -1em 0 0 #00a2ff, 2em -1em 0 0 #00a2ff, 3em -1em 0 0 #00a2ff, -4em 0 0 0 #00a2ff, -3em 0 0 0 #00a2ff, 3em 0 0 0 #00a2ff, 4em 0 0 0 #00a2ff, -5em 1em 0 0 #00a2ff, -4em 1em 0 0 #00a2ff, 4em 1em 0 0 #00a2ff, 5em 1em 0 0 #00a2ff, -5em 2em 0 0 #00a2ff, 5em 2em 0 0 #00a2ff, -5em 3em 0 0 #00a2ff, -3em 3em 0 0 #00a2ff, 3em 3em 0 0 #00a2ff, 5em 3em 0 0 #00a2ff, -2em 4em 0 0 #00a2ff, -1em 4em 0 0 #00a2ff, 1em 4em 0 0 #00a2ff, 2em 4em 0 0 #00a2ff;
  transform: translate(-50%, -50%);
}

.section {
  padding: 3rem 1rem;
}

.center-1 {
  align-items: center;
  width: min(100%, 75rem);
  padding-inline: 2.5rem;
  margin-inline: auto;
}