code {
  color: var(--colour-tertiary);
}

.wrapper {
  --gutter: var(--space-m-3xl);
}

.switcher {
  --gutter: var(--space-s-l);
  --switcher-container-min-width: calc(
    var(--breakpoint-md-max) - 2 * var(--space-m-3xl)
  );
  background: var(--colour-surface-0);
}

.card {
  border: var(--stroke-solid);
}
.card__img {
  aspect-ratio: 4/3;
}
.card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__txt {
  --flow-space: var(--space-s);
  padding: var(--space-l);
}
.card__title {
  max-height: 2lh;
  overflow: clip;
  font-size: var(--font-step-1);
  font-weight: var(--font-bold);
  line-height: var(--leading-xs);
}
.card__description {
  max-height: 5lh;
  overflow: clip;
}
@media (width < 55rem) {
  .card {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1.5fr);
    gap: var(--space-xs);
  }
  .card__img {
    aspect-ratio: 1/1;
  }
  .card__description {
    max-height: 4lh;
    overflow: clip;
  }
}
@media (width < 33rem) {
  .card {
    display: unset;
  }
}
