// text
// color 3 - BCD0E7

// BG
// color 17 - 000103
// color 16 - 01060F
// color 15 - 051525
// color: var(--primary);

// 선언하고 부르기
:root {
  // color
  --primary: #bcd0e7;
  --primary90: #bcd0e790;
  --primary80: #bcd0e780;
  --secondary: #214a73;
  --cardBg: #9d9d9d30;
  --Bg: #000103;
  // 배경 그라데이션 색 좀 올림 5정도
  --BgGradient: linear-gradient(
    90deg,
    rgba(0, 1, 3, 1) 0%,
    rgba(1, 6, 20, 1) 50%,
    rgba(0, 1, 3, 1) 100%
  );

  // font
  --fontA: Aldrich;

  // font weight
  --regular: 400;

  // switcher variables
  --space-s-l: 1rem;
  // --breakpoint-md-max: 46.25rem;
  --space-m-3xl: 2rem;
  // --colour-surface-0: #ffffff;
  --colour-tertiary: #666666;
  --stroke-solid: 0.5px solid #ffffff;
  --space-s: 0.5rem;
  --space-l: 1.5rem;
  --font-step-1: 1.25rem;
  --font-bold: 700;
  --leading-xs: 1.2;
  --space-xs: 0.25rem;
}
