@use './reset';
@use './cursor';
@use './scollText';
@use './setRoot';

body {
  padding-bottom: 4.375rem;
  background: var(--BgGradient);
}

// -----전역 class-----
.margin-in {
  margin-inline: auto;
}

.regular {
  font-weight: var(--regular);
}

.fontF {
  font-family: var(--fontA);
}

.section {
  gap: 1rem;
  padding: 0px 10em 0px 10em;
}
.flex {
  display: flex;
}

.flex-1 {
  display: flex;
  > * {
    flex-grow: 1;
    flex-basis: 0;
    max-inline-size: 100%;
  }
}

.flex-w {
  flex-wrap: wrap;
}
// flex랑 gird가 있어야 gap 먹힘
.c-gap {
  column-gap: 0.9375rem;
}

.r-gap {
  row-gap: 1rem;
}
.gap0_5 {
  gap: 0.5rem;
}

@keyframes blur {
  0% {
    opacity: 10%;
    filter: blur(0.1875rem);
  }
  100% {
    filter: blur(0.0313rem);
  }
}

.blur {
  animation: blur 1.5s ease-in-out infinite alternate;
}

// -----지역 class-----
// section-1 nevigation

// nevigation문제는 일단 나중에 해결해...

.nevigation {
  // .p {
  .flex {
    align-items: center;
    justify-content: center;
  }
  //   padding: 0rem 160px 0rem 160px;
  // }

  .C,
  .F {
    align-self: center;
    font-size: 18px;
    color: var(--primary80);
  }

  .logo {
    align-self: center;
    min-width: 35px;
    height: 27.4704px;
    // margin-inline: auto;
  }
}

.padding-1 {
  padding: 2.5rem 0rem 2.5rem 0rem;
}

// section-2 COPPER VS FIBER
.padding-2 {
  padding: 10rem 0rem 10rem 0rem;
}
.border-bottom {
  border-bottom: solid 1px;
  border-image: linear-gradient(
    90deg,
    rgba(0, 1, 3, 1) 0%,
    var(--primary80),
    rgba(0, 1, 3, 1) 100%
  );
  border-image-slice: 1;
}

// 순서 문제 에반데 ^^)... 바꾸고 항상 순서 생각하자..
.h1-text {
  padding-bottom: 1.5rem;
  // align-self: center;

  font-size: 3.75rem;
  line-height: 3.75rem;
  color: var(--primary);
  text-align: center;
}

.h3-text {
  font-size: 28px;
  line-height: 28px;
  color: var(--primary80);
  text-align: center;
}

//section-3

.set3 {
  display: flex;

  // 기존에 가로인데, flex-direction하면 세로로 쌓음
  flex-direction: column;
  align-items: center;
  // gap: 0.5em;
  padding: 50px 0px 50px 0px;
}

.flex-d {
  flex-direction: column;
}

.h4-text {
  font-size: 24px;
  font-weight: var(--regular);
  color: var(--primary80);
  text-align: center;
}

.koH4-text {
  font-size: 20px;
  font-weight: var(--regular);
  color: var(--primary80);
  text-align: center;
}

.cards {
  width: fit-content;
  // 내용만큼(= Hug)
  margin-inline: auto;

  // (안전장치)
  // padding: 0px 120px 0px 120px;
}

.card1 {
  align-content: center;

  /* display: flex; */
  justify-content: center;
  width: 303px;
  height: 262px;
  margin-inline: auto;
  background-color: var(--cardBg);
  border-radius: 5%;
  transform: scale(0.9);
  transition: transform 0.5s;
}

a {
  cursor: none;
}

.card1:hover {
  // 이거 색상 좀 고려 해봐야할듯 일단 예시임 ㅇㅇ
  background-color: var(--primary);

  transform: scale(1);
  transition: transform 0.5s;
}

.copperImage {
  // align-items: center;
  // justify-content: center;
  opacity: 0.5;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// 화면 사이즈가 줄어들때 같이 줄어들었으면 하는 애들
// 1000px 일때
@media screen and (max-width: 62.5rem) {
  .h1-text {
    padding-bottom: 1.2rem;
    font-size: 45px;
    line-height: 45px;
  }
  .h3-text {
    font-size: 20px;
    line-height: 20px;
  }

  .h4-text {
    font-size: 21px;
  }

  .koH4-text {
    font-size: 17.5px;
  }
  .cards {
    transform: scale(0.7);
  }
}

// 740px 일때
@media screen and (max-width: 46.25rem) {
  .h1-text {
    padding-bottom: 0.8rem;
    font-size: 1.5625rem;
    line-height: 1.5625rem;
  }
  .h3-text {
    font-size: 17px;
    line-height: 1.5em;
  }
  .h4-text {
    font-size: 17px;
  }

  .koH4-text {
    font-size: 15px;
  }
  .cards {
    transform: scale(0.6);
  }
}

// gradient 변환 site: https://cssgradient.io

// gradient 넣는 방법 site::afterhttps://velog.io/@minaazz/CSS-border%EC%97%90-gradient%EB%A5%BC-%EB%84%A3%EC%96%B4%EB%B3%B4%EC%9E%90
