*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  word-break: keep-all;
  text-wrap: balance;
}

a:not([class]) {
  color: currentColor;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
canvas,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

:root {
  --primary: #bcd0e7;
  --primary90: #bcd0e790;
  --primary80: #bcd0e780;
  --secondary: #214a73;
  --cardBg: #9d9d9d30;
  --Bg: #000103;
  --BgGradient: linear-gradient(
    90deg,
    rgba(0, 1, 3, 1) 0%,
    rgba(1, 6, 20, 1) 50%,
    rgba(0, 1, 3, 1) 100%
  );
  --fontA: Aldrich;
  --regular: 400;
}

body {
  cursor: none;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  background: var(--secondary);
  border-radius: 50%;
  mix-blend-mode: difference;
  opacity: 0;
  transform: scale(0.3);
  transition: transform 0.5s;
}

#custom-cursor.zoom {
  transform: scale(0.7);
}

body:hover #custom-cursor {
  opacity: 1;
  transition: opacity 0.6s ease-in-out 0.1s;
}

body:has(.card1:hover) #custom-cursor {
  transform: scale(0.5);
}

#custom-cursor:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  overflow: hidden;
  content: "";
  background: var(--secondary);
  box-shadow: 0 0 0 1em var(--secondary), 0 1em 0 1em var(--secondary), -2.5em 1.5em 0 0.5em var(--secondary), 2.5em 1.5em 0 0.5em var(--secondary), -3em -3em 0 0 var(--secondary), 3em -3em 0 0 var(--secondary), -2em -2em 0 0 var(--secondary), 2em -2em 0 0 var(--secondary), -3em -1em 0 0 var(--secondary), -2em -1em 0 0 var(--secondary), 2em -1em 0 0 var(--secondary), 3em -1em 0 0 var(--secondary), -4em 0 0 0 var(--secondary), -3em 0 0 0 var(--secondary), 3em 0 0 0 var(--secondary), 4em 0 0 0 var(--secondary), -5em 1em 0 0 var(--secondary), -4em 1em 0 0 var(--secondary), 4em 1em 0 0 var(--secondary), 5em 1em 0 0 var(--secondary), -5em 2em 0 0 var(--secondary), 5em 2em 0 0 var(--secondary), -5em 3em 0 0 var(--secondary), -3em 3em 0 0 var(--secondary), 3em 3em 0 0 var(--secondary), 5em 3em 0 0 var(--secondary), -2em 4em 0 0 var(--secondary), -1em 4em 0 0 var(--secondary), 1em 4em 0 0 var(--secondary), 2em 4em 0 0 var(--secondary);
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "SsallakNun";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff") format("woff");
  font-display: swap;
}
.cover {
  display: flex;
  width: 100vw;
}

.cover:nth-child(2) {
  justify-content: flex-end;
  font-family: SsallakNun;
  font-size: 1.75rem;
  color: var(--secondary);
}

@media screen and (max-width: 46.25rem) {
  .cover:nth-child(2) {
    font-size: 1.25rem;
  }
}
body {
  padding-bottom: 4.375rem;
  background: var(--BgGradient);
}

.primary90 {
  color: var(--primary90);
}

.margin-in {
  margin-inline: auto;
}

.regular {
  font-weight: var(--regular);
}

.fontF {
  font-family: var(--fontA);
}

.section {
  gap: 1rem;
  padding: 0px 10em 0px 10em;
}

.flex {
  display: flex;
}

.flex-1 {
  display: flex;
}
.flex-1 > * {
  flex-grow: 1;
  flex-basis: 0;
  max-inline-size: 100%;
}

.flex-w {
  flex-wrap: wrap;
}

.c-gap {
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}

.r-gap {
  row-gap: 1rem;
}

.gap0_5 {
  gap: 0.5rem;
}

@keyframes blur {
  0% {
    opacity: 10%;
    filter: blur(0.1875rem);
  }
  100% {
    filter: blur(0.0313rem);
  }
}
.blur {
  animation: blur 1.5s ease-in-out infinite alternate;
}

.nevigation .flex {
  align-items: center;
  justify-content: center;
}
.nevigation .C,
.nevigation .F {
  align-self: center;
  font-size: 18px;
  color: var(--primary80);
}
.nevigation .logo {
  align-self: center;
  min-width: 35px;
  height: 27.4704px;
}

.padding-1 {
  padding: 2.5rem 0rem 2.5rem 0rem;
}

.padding-2 {
  padding: 10rem 0rem 10rem 0rem;
}

.border-bottom {
  border-bottom: solid 1px;
  -o-border-image: linear-gradient(90deg, rgb(0, 1, 3) 0%, var(--primary80), rgb(0, 1, 3) 100%);
     border-image: linear-gradient(90deg, rgb(0, 1, 3) 0%, var(--primary80), rgb(0, 1, 3) 100%);
  border-image-slice: 1;
}

.h1-text {
  padding-bottom: 1.5rem;
  font-size: 3.75rem;
  line-height: 3.75rem;
  color: var(--primary);
  text-align: center;
}

.h3-text {
  font-size: 28px;
  line-height: 28px;
  color: var(--primary80);
  text-align: center;
}

.set3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 50px 0px;
}

.flex-d {
  flex-direction: column;
}

.h4-text {
  font-size: 24px;
  font-weight: var(--regular);
  color: var(--primary80);
  text-align: center;
}

.koH4-text {
  font-size: 20px;
  font-weight: var(--regular);
  color: var(--primary80);
  text-align: center;
}

.p-text {
  font-size: 18.5px;
  font-weight: bold;
}

.cards {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.card1 {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 303px;
  height: 262px;
  margin-inline: auto;
  background-color: var(--cardBg);
  border-radius: 5%;
  transform: scale(0.9);
  transition: transform 0.5s;
}

a {
  cursor: none;
}

.card1:hover {
  background-color: var(--primary);
  transform: scale(1);
  transition: transform 0.5s;
}

.copperImage {
  align-content: center;
  height: auto;
  max-height: 100%;
  opacity: 0.5;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 62.5rem) {
  .h1-text {
    padding-bottom: 1.2rem;
    font-size: 45px;
    line-height: 45px;
  }
  .h3-text {
    font-size: 20px;
    line-height: 20px;
  }
  .h4-text {
    font-size: 21px;
  }
  .koH4-text {
    font-size: 17.5px;
  }
  .cards {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 46.25rem) {
  .h1-text {
    padding-bottom: 0.8rem;
    font-size: 1.5625rem;
    line-height: 1.5625rem;
  }
  .h3-text {
    font-size: 17px;
    line-height: 1.5em;
  }
  .h4-text {
    font-size: 17px;
  }
  .koH4-text {
    font-size: 15px;
  }
  .cards {
    transform: scale(0.7);
  }
}