$on-light-bg: (
  'bg': color(display-p3 0 0 0),
  'on-surface-emphasis': color(display-p3 0 0 0),
  'on-surface': color(display-p3 0 0 0),
  'on-surface-variant': color(display-p3 0 0 0),
  'outline': color(display-p3 0 0 0),
  'outline-variant': color(display-p3 0 0 0),
  'surface--1': color(display-p3 0 0 0),
  'surface-0': color(display-p3 0 0 0),
  'surface-1': color(display-p3 0 0 0),
  'surface-2': color(display-p3 0 0 0),
  'surface-3': color(display-p3 0 0 0),
  'surface-4': color(display-p3 0 0 0),
  'inverse-surface': color(display-p3 0 0 0),
  'on-inverse-surface': color(display-p3 0 0 0),
  'primary': color(display-p3 0 0 0),
  'on-primary': color(display-p3 0 0 0),
  'primary-container': color(display-p3 0 0 0),
  'on-primary-container': color(display-p3 0 0 0),
  'secondary': color(display-p3 0 0 0),
  'on-secondary': color(display-p3 0 0 0),
  'secondary-container': color(display-p3 0 0 0),
  'on-secondary-container': color(display-p3 0 0 0),
  'tertiary': color(display-p3 0 0 0),
  'on-tertiary': color(display-p3 0 0 0),
  'tertiary-container': color(display-p3 0 0 0),
  'on-tertiary-container': color(display-p3 0 0 0)
);
$on-dark-bg: (
  'bg': color(display-p3 0 0 0),
  'on-surface-emphasis': color(display-p3 0 0 0),
  'on-surface': color(display-p3 0 0 0),
  'on-surface-variant': color(display-p3 0 0 0),
  'outline': color(display-p3 0 0 0),
  'outline-variant': color(display-p3 0 0 0),
  'surface--1': color(display-p3 0 0 0),
  'surface-0': color(display-p3 0 0 0),
  'surface-1': color(display-p3 0 0 0),
  'surface-2': color(display-p3 0 0 0),
  'surface-3': color(display-p3 0 0 0),
  'surface-4': color(display-p3 0 0 0),
  'inverse-surface': color(display-p3 0 0 0),
  'on-inverse-surface': color(display-p3 0 0 0),
  'primary': color(display-p3 0 0 0),
  'on-primary': color(display-p3 0 0 0),
  'primary-container': color(display-p3 0 0 0),
  'on-primary-container': color(display-p3 0 0 0),
  'secondary': color(display-p3 0 0 0),
  'on-secondary': color(display-p3 0 0 0),
  'secondary-container': color(display-p3 0 0 0),
  'on-secondary-container': color(display-p3 0 0 0),
  'tertiary': color(display-p3 0 0 0),
  'on-tertiary': color(display-p3 0 0 0),
  'tertiary-container': color(display-p3 0 0 0),
  'on-tertiary-container': color(display-p3 0 0 0)
);
