$on-light-bg: (
  (
    'level': '100',
    'hue': 'blue',
    'oklch': 'oklch(0.28 0.11 260)',
    'hex': '#00235e'
  ),
  (
    'level': '95',
    'hue': 'blue',
    'oklch': 'oklch(0.34 0.14 260)',
    'hex': '#01327f'
  ),
  (
    'level': '90',
    'hue': 'blue',
    'oklch': 'oklch(0.4 0.16 260)',
    'hex': '#003f9d'
  ),
  (
    'level': '80',
    'hue': 'blue',
    'oklch': 'oklch(0.49 0.2 260)',
    'hex': '#0156cf'
  ),
  (
    'level': '70',
    'hue': 'blue',
    'oklch': 'oklch(0.57 0.23 260)',
    'hex': '#016bfd'
  ),
  (
    'level': '60',
    'hue': 'blue',
    'oklch': 'oklch(0.64 0.19 260)',
    'hex': '#3f87ff'
  ),
  (
    'level': '50',
    'hue': 'blue',
    'oklch': 'oklch(0.7 0.15 260)',
    'hex': '#659ffe'
  ),
  (
    'level': '40',
    'hue': 'blue',
    'oklch': 'oklch(0.76 0.12 260)',
    'hex': '#86b3fe'
  ),
  (
    'level': '30',
    'hue': 'blue',
    'oklch': 'oklch(0.82 0.09 260)',
    'hex': '#a4c6fe'
  ),
  (
    'level': '20',
    'hue': 'blue',
    'oklch': 'oklch(0.88 0.06 260)',
    'hex': '#c1d8ff'
  ),
  (
    'level': '15',
    'hue': 'blue',
    'oklch': 'oklch(0.9 0.05 260)',
    'hex': '#cee0fe'
  ),
  (
    'level': '10',
    'hue': 'blue',
    'oklch': 'oklch(0.93 0.03 260)',
    'hex': '#dbe9fe'
  ),
  (
    'level': '100',
    'hue': 'amber',
    'oklch': 'oklch(0.28 0.06 75)',
    'hex': '#3a2400'
  ),
  (
    'level': '95',
    'hue': 'amber',
    'oklch': 'oklch(0.35 0.07 75)',
    'hex': '#4f3402'
  ),
  (
    'level': '90',
    'hue': 'amber',
    'oklch': 'oklch(0.4 0.08 75)',
    'hex': '#624001'
  ),
  (
    'level': '80',
    'hue': 'amber',
    'oklch': 'oklch(0.49 0.1 75)',
    'hex': '#825701'
  ),
  (
    'level': '70',
    'hue': 'amber',
    'oklch': 'oklch(0.57 0.12 75)',
    'hex': '#a06b00'
  ),
  (
    'level': '60',
    'hue': 'amber',
    'oklch': 'oklch(0.64 0.13 75)',
    'hex': '#bb7f04'
  ),
  (
    'level': '50',
    'hue': 'amber',
    'oklch': 'oklch(0.71 0.15 75)',
    'hex': '#d69106'
  ),
  (
    'level': '40',
    'hue': 'amber',
    'oklch': 'oklch(0.77 0.16 75)',
    'hex': '#efa209'
  ),
  (
    'level': '30',
    'hue': 'amber',
    'oklch': 'oklch(0.83 0.15 75)',
    'hex': '#ffb745'
  ),
  (
    'level': '20',
    'hue': 'amber',
    'oklch': 'oklch(0.88 0.1 75)',
    'hex': '#fece8b'
  ),
  (
    'level': '15',
    'hue': 'amber',
    'oklch': 'oklch(0.9 0.08 75)',
    'hex': '#ffd9a6'
  ),
  (
    'level': '10',
    'hue': 'amber',
    'oklch': 'oklch(0.93 0.05 75)',
    'hex': '#fee4c0'
  ),
  (
    'level': '100',
    'hue': 'pink',
    'oklch': 'oklch(0.27 0.11 10)',
    'hex': '#4e011b'
  ),
  (
    'level': '95',
    'hue': 'pink',
    'oklch': 'oklch(0.34 0.14 10)',
    'hex': '#6d0228'
  ),
  (
    'level': '90',
    'hue': 'pink',
    'oklch': 'oklch(0.4 0.16 10)',
    'hex': '#860233'
  ),
  (
    'level': '80',
    'hue': 'pink',
    'oklch': 'oklch(0.49 0.2 10)',
    'hex': '#b40147'
  ),
  (
    'level': '70',
    'hue': 'pink',
    'oklch': 'oklch(0.58 0.23 10)',
    'hex': '#de035a'
  ),
  (
    'level': '60',
    'hue': 'pink',
    'oklch': 'oklch(0.66 0.24 10)',
    'hex': '#fe3270'
  ),
  (
    'level': '50',
    'hue': 'pink',
    'oklch': 'oklch(0.72 0.18 10)',
    'hex': '#fe6f8c'
  ),
  (
    'level': '40',
    'hue': 'pink',
    'oklch': 'oklch(0.78 0.13 10)',
    'hex': '#ff92a4'
  ),
  (
    'level': '30',
    'hue': 'pink',
    'oklch': 'oklch(0.83 0.09 10)',
    'hex': '#ffafbb'
  ),
  (
    'level': '20',
    'hue': 'pink',
    'oklch': 'oklch(0.89 0.06 10)',
    'hex': '#fec9d0'
  ),
  (
    'level': '15',
    'hue': 'pink',
    'oklch': 'oklch(0.91 0.05 10)',
    'hex': '#ffd5da'
  ),
  (
    'level': '10',
    'hue': 'pink',
    'oklch': 'oklch(0.93 0.03 10)',
    'hex': '#fee1e4'
  )
);
$on-dark-bg: (
  (
    'level': '100',
    'hue': 'blue',
    'oklch': 'oklch(0.96 0.02 260)',
    'hex': '#edf4fe'
  ),
  (
    'level': '95',
    'hue': 'blue',
    'oklch': 'oklch(0.94 0.03 260)',
    'hex': '#e2edfe'
  ),
  (
    'level': '90',
    'hue': 'blue',
    'oklch': 'oklch(0.92 0.04 260)',
    'hex': '#d5e5fe'
  ),
  (
    'level': '80',
    'hue': 'blue',
    'oklch': 'oklch(0.87 0.06 260)',
    'hex': '#bbd5fe'
  ),
  (
    'level': '70',
    'hue': 'blue',
    'oklch': 'oklch(0.81 0.09 260)',
    'hex': '#a0c4ff'
  ),
  (
    'level': '60',
    'hue': 'blue',
    'oklch': 'oklch(0.76 0.12 260)',
    'hex': '#83b2fe'
  ),
  (
    'level': '50',
    'hue': 'blue',
    'oklch': 'oklch(0.7 0.15 260)',
    'hex': '#639efe'
  ),
  (
    'level': '40',
    'hue': 'blue',
    'oklch': 'oklch(0.64 0.19 260)',
    'hex': '#3f87fe'
  ),
  (
    'level': '30',
    'hue': 'blue',
    'oklch': 'oklch(0.57 0.23 260)',
    'hex': '#016bfb'
  ),
  (
    'level': '20',
    'hue': 'blue',
    'oklch': 'oklch(0.49 0.2 260)',
    'hex': '#0255cc'
  ),
  (
    'level': '15',
    'hue': 'blue',
    'oklch': 'oklch(0.44 0.18 260)',
    'hex': '#014ab2'
  ),
  (
    'level': '10',
    'hue': 'blue',
    'oklch': 'oklch(0.39 0.16 260)',
    'hex': '#003d96'
  ),
  (
    'level': '100',
    'hue': 'amber',
    'oklch': 'oklch(0.97 0.03 75)',
    'hex': '#fff2e1'
  ),
  (
    'level': '95',
    'hue': 'amber',
    'oklch': 'oklch(0.94 0.05 75)',
    'hex': '#ffe9cb'
  ),
  (
    'level': '90',
    'hue': 'amber',
    'oklch': 'oklch(0.92 0.07 75)',
    'hex': '#ffdfb3'
  ),
  (
    'level': '80',
    'hue': 'amber',
    'oklch': 'oklch(0.87 0.11 75)',
    'hex': '#fecb82'
  ),
  (
    'level': '70',
    'hue': 'amber',
    'oklch': 'oklch(0.82 0.16 75)',
    'hex': '#feb437'
  ),
  (
    'level': '60',
    'hue': 'amber',
    'oklch': 'oklch(0.77 0.16 75)',
    'hex': '#eea104'
  ),
  (
    'level': '50',
    'hue': 'amber',
    'oklch': 'oklch(0.7 0.15 75)',
    'hex': '#d59001'
  ),
  (
    'level': '40',
    'hue': 'amber',
    'oklch': 'oklch(0.64 0.13 75)',
    'hex': '#bb7e02'
  ),
  (
    'level': '30',
    'hue': 'amber',
    'oklch': 'oklch(0.57 0.12 75)',
    'hex': '#9f6b03'
  ),
  (
    'level': '20',
    'hue': 'amber',
    'oklch': 'oklch(0.49 0.1 75)',
    'hex': '#805603'
  ),
  (
    'level': '15',
    'hue': 'amber',
    'oklch': 'oklch(0.44 0.09 75)',
    'hex': '#704a01'
  ),
  (
    'level': '10',
    'hue': 'amber',
    'oklch': 'oklch(0.39 0.08 75)',
    'hex': '#5e3e02'
  ),
  (
    'level': '100',
    'hue': 'pink',
    'oklch': 'oklch(0.97 0.02 10)',
    'hex': '#fef0f1'
  ),
  (
    'level': '95',
    'hue': 'pink',
    'oklch': 'oklch(0.94 0.03 10)',
    'hex': '#fee6e8'
  ),
  (
    'level': '90',
    'hue': 'pink',
    'oklch': 'oklch(0.92 0.04 10)',
    'hex': '#ffdce0'
  ),
  (
    'level': '80',
    'hue': 'pink',
    'oklch': 'oklch(0.88 0.07 10)',
    'hex': '#fec5cc'
  ),
  (
    'level': '70',
    'hue': 'pink',
    'oklch': 'oklch(0.83 0.1 10)',
    'hex': '#feadb8'
  ),
  (
    'level': '60',
    'hue': 'pink',
    'oklch': 'oklch(0.78 0.13 10)',
    'hex': '#fe90a2'
  ),
  (
    'level': '50',
    'hue': 'pink',
    'oklch': 'oklch(0.72 0.18 10)',
    'hex': '#ff6c8a'
  ),
  (
    'level': '40',
    'hue': 'pink',
    'oklch': 'oklch(0.65 0.24 10)',
    'hex': '#ff2c6e'
  ),
  (
    'level': '30',
    'hue': 'pink',
    'oklch': 'oklch(0.57 0.23 10)',
    'hex': '#de0159'
  ),
  (
    'level': '20',
    'hue': 'pink',
    'oklch': 'oklch(0.49 0.2 10)',
    'hex': '#b30146'
  ),
  (
    'level': '15',
    'hue': 'pink',
    'oklch': 'oklch(0.44 0.18 10)',
    'hex': '#9b023c'
  ),
  (
    'level': '10',
    'hue': 'pink',
    'oklch': 'oklch(0.39 0.15 10)',
    'hex': '#810131'
  )
);
