*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  word-break: keep-all;
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
canvas,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

body {
  margin: 0;
  cursor: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
}

.hover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: lightcyan;
  border-radius: 1rem;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  background: #c62323;
  border-radius: 50%;
  mix-blend-mode: difference;
  opacity: 0;
  transition: transform 0.5s;
}

#custom-cursor.zoom {
  transform: scale(4);
}

body:hover #custom-cursor {
  opacity: 1;
  transition: opacity 0.3s ease;
}

#custom-cursor:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  content: "";
  border: 2px solid #c62323;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.center {
  width: min(100%, 75rem);
  padding-inline: 2.5rem;
  margin-inline: auto;
  background-color: aqua;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.5em);
}

.box-test {
  --flow-space: 5.625rem;
  width: clamp(40rem, 100%, 50rem);
  padding: 1.25rem;
  background-color: lightcoral;
  border: 0.625rem #000 solid;
}
.box-test > * {
  --flow-space: 1.5em;
}