*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  word-break: keep-all;
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
canvas,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

.center {
  width: min(100%, 75rem);
  padding-inline: 2.5rem;
  margin-inline: auto;
  background-color: aqua;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.5em);
}

.box-test {
  --flow-space: 5.625rem;
  width: clamp(40rem, 100%, 50rem);
  padding: 1.25rem;
  background-color: lightcoral;
  border: 0.625rem #000 solid;
}
.box-test > * {
  --flow-space: 1.5em;
}